/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(182, 167, 247);;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  
  .main-header {
    background-color: rgb(3, 248, 97);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
  }
  
  .content-wrapper {
    display: flex;
  }
  
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    
  }
  
  .logo a {
    height: 90%;
  }
  
  .logo__item {
    width: 50px;
    border-radius: 10px;
  }
  
  .main-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
  }
  
  .main-menu__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-menu__item li {
    display: inline-block;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    transition: all 0.3s; /* agrega una transición */
  }
  
  .main-menu__item li:last-child {
    margin-right: 0;
  }
  
  .main-menu__item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Estilos del contenido principal */
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  article {
    margin-bottom: 40px;
  }
  
  article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  
  
  .aud {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  
  /* Estilos del pie de página */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  

/* LOL */
    /* Establece los estilos para los enlaces de los elementos de la lista del menú principal */
    
    .content-wrapper {
      display: inline;
      justify-content: 
    }
    
    .main-menu__item li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    }
    
    /* Establece los estilos para los elementos de la lista del menú principal al pasar el cursor sobre ellos */
    .main-menu__item li:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.03);
    }
    
    .main-menu, .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Establece los estilos para la imagen horizontal */
    .imh {
    height: 40%;
    border-radius: 10px;
    }
    
    /* Establece los estilos para la imagen vertical */
    .imw {
    width: 80%;
    border-radius: 10px;
    }
  

